.body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    color: #353535;
    text-align: center;
    padding: 10px;
    line-height: 1.5;
}

.body--darkTheme {
    background-color: #3f4660;
    color: #ffffff;
}