.header {
    font-family: 'Inspiration', cursive;
    color: #89B0AE;
    font-size: 100px;
    font-style: italic;
    border-bottom: 1px solid #89B0AE;
    padding: 10px;
}

.header__button {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-width: 90px;
    padding: 6px;
    border-radius: 10px;
    border: 0;
    outline: 1px solid #89B0AE;
    cursor: pointer;
    background-color: #89B0AE;
    color: #ffffff;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
}