.section {
    border-bottom: 1px solid #89B0AE;
}

.section--bottom {
    border: none;
}

.section__header {
    text-align: center;
    padding: 3px;
}

.section__paragraph {
    text-align: left;
    margin: 20px 5px 20px 5px;
}

.section__paragraph--important {
    text-align: center;
    margin: 20px;
}

.section__image {
    max-width: 100%;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #0000004d;
}

.section__tableContainer {
    overflow-x: auto;
}

.section__highlightedText {
    color: #89B0AE;
    font-weight: bold;
}

.section__link.section__link {
    text-decoration: none;
    color: #89B0AE;
}

.section__buttonContact {
    width: 100%;
    max-width: 90px;
    padding: 6px;
    border-radius: 10px;
    border: 0;
    outline: 1px solid #89B0AE;
    cursor: pointer;
    background-color: #89B0AE;
    color: #ffffff;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
}

.section__contact {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.section__contact--hide {
    display: none;
}